body {
	background:lightblue;
}
h2 {
	color:black;
	font-size:40px;
	font-family:'Anton';
	text-align:center;
	background:lightblue;
}

p {
	color:black;
	font-size:60px;
	font-family:'Anton';
	text-align:center;
	background:lightblue;
}
input {
	font-size:60px;
	font-family:'Anton';
}
